*{
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;

}
body{
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;

}
nav{
    background-color: black;
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:auto ;
}
label{
    color: white;
    cursor: pointer;
    font-size: 35px;
}

/*Tirando da tela o checkbox do input*/
#burger{ 
    display: none;
}

/*Estilizando os itens do menu*/
nav ul li{
    display: inline;
    padding: 10px;
}
div nav ul li a{
    color: white;
    display: inline;
    font-size: 26px;
    margin-top: 100px;
    margin-left: 10px;
}
input{
    margin-top: 35px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

/*Isso qui era pra colocar o campo "contato" no canto superior esquerdo, to em dúvida se deixo ou não*/
.mais-informacoes{
    float: right;
    margin-top: 15px;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

/*Gambiarra básica pro conteúdo ficar em baixo do menu*/
.gamb{
    height: 100px;
}
section{
   width: 100%;
   background-color: #ebebeb;
   padding: 150px;
}
.filtrar_produtos{
    display: inline;
    margin-left: 90px;
    margin-bottom: 10px;
}
.filtrar_produtos select{
    text-align: center;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;    
    margin: 10px;
}
/*Produtos*/
.produtos{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /*display: flex;
    flex-direction: column;
    background-color: aqua;
    min-width: 300px;
    max-width: 1500px;
    margin: auto;
    padding:10px;*/
}
.produto img{
    margin-top: 10px;
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.produto{
    width: 400px;
    height: 100%;
    background-color: white;
    margin: 5px;
    cursor: pointer;
    margin-bottom: 40px
}
/*nome do produto*/
div h3{
    font-size: 24px;
}
/*preço do produto*/
div span{
    font-size: 32px;
}
/*Botão comprar*/
div button{
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.664);
}
div button a{
    color: whitesmoke;
}
#quem_somos{
    display: flexbox;
    justify-content: center;
    background-color: white;
    padding: 30px;
}

/*Rodapé*/
footer{
    background-color: black;
    color: white;
    height: 200px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
    margin-bottom: 0px;
}
footer div{
    display: inline-block;
    margin-left: 100px;
}
footer div div span{
    cursor: pointer;
    font-size: 18px;
}
footer div span i{
    font-size: 30px;
    margin: 5px;
    cursor: pointer;
}