*{
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;

}
body{
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}
nav{
    background-color: black;
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: fixed;
}
nav ul li{
    display: inline;
    padding: 10px;
}
div nav ul li a{
    color: white;
    display: inline;
    font-size: 26px;
    margin-top: 100px;
    margin-left: 10px;
}
input{
    margin-top: 35px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
}
.mais-informacoes{
    float: right;
    margin-top: 15px;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
.gamb{
    height: 101px;
}
.fundo-carrosel, .gamb{
    background-color: rgba(128, 128, 128, 0.37);
}
.carrossel{
    display: flex;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 500px;
    width: 1000px;
    margin-left: 22%;
}
.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
.carrosel-img{
    height: 500px;
    width: 1000px;
    object-fit: cover;
}

/*Produtos*/
.produtos{
    background-color: aqua;
    min-width: 300px;
    max-width: 1500px;
    margin: auto;
    padding:10px;
    displayyyyy
}
.produto img{
    margin-top: 10px;
    width: 300px;
    height: 300px;
}
.produto{
    width: 400px;
    height: 100%;
}